.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  
  p {
    margin-bottom: 2rem;
  }

  .clip {
    background-image: url('../images/croton-dam.d6862f93526792fc644f.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 30em;
    width: 100%;
  }
}
